   
*{
    margin: 0;
    font-family: cursive;
    
}
.nav{
    display: flex;
    list-style: none;
    height: 60px;
    background-color: #76b28e;
    align-items: center;
    justify-content: space-around;

}
.nav a{
    color: #f1f1f1;
    text-decoration: none;

}
.logo{
    margin-top: 50px;
}
.bienvenido{
    color: #76b28e;
    position: absolute;
    top: 130px;
    padding-left: 650px;
    margin-top: 10%;
}
.bienvenidodos{
    padding-top: 20%;
    font-size: 17px;
    display: flex;
}
.bienvenidodos img{
    width: 450px;
    height: 500px;
    margin-top: -140px;
    position: absolute;
    padding-left: 5%;
}
.bienvenidodos p{
    padding-left: 40%;
    text-align: center;
}
.boton{
    padding-left: 60%;
    padding-top: 20px;
}
.boton a{
    text-decoration: none;
    color: black;
}
button{
    font-size: 17px;
    background-color: rgb(158, 196, 196);
    border-radius: 10px;

}
